.container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.message {
    color: blue;
    text-align: center;
    margin: 10px 0;
}

.errorMessage {
    color: red !important;
}
