.container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hello-container {
    width: 300px;
    margin-top: 100px;
}

.error-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.message {
    color: blue;
    text-align: center;
    margin: 10px 0;
}

.admin-logout {
    padding: 10px 0;
    width: 100%;
    TEXT-ALIGN: RIGHT;
}

.incorrect {
    font-size: 11pt;
    color: red;
    text-align: center;
    padding: 5px;
}

.form-control{
    margin-bottom: 0 !important;
}

.center-label{
    width: 250px;
    margin: 20px auto;
    text-align: center;
}

